[Desktop Entry]
Comment=
Exec=/media/stuff/vadim/home-common/.bin/wpchg_random
Hidden=false
Name=/media/stuff/vadim/home-common/.bin/wpchg_random
Type=Application
